<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button
        ion-item
        *ngIf="isLoggedIn" 
        (click)="openPage(rootPage)">
        Home
      </button>
      <button 
        ion-item
        *ngIf="!isLoggedIn"
        (click)="openPage(loginPage)">
        Login
      </button>
      <button
        ion-item
        *ngIf="isLoggedIn"
        (click)="onLogout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>